.cambiador-forma {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: all 0.5s ease;
}

.cambiador-forma:hover {
    background-color: red;
    border-radius: 50%;   /* Cambia de forma a círculo */
}






.pelota {
    width: 50px;
    height: 50px;
    background-color: rgb(187, 0, 255);
    border-radius: 50%;
    position: relative;
    animation: rebote 1s infinite; /* Rebota continuamente */
}

@keyframes rebote {
    0%, 100% { top: 0; } /* Comienza y termina en su posición original */
    50% { top: 150px; } /* El punto más bajo de la caída */
}